<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hs.Hypermint.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hs.Hypermint.Services.Properties.Settings>
            <setting name="GuiColor" serializeAs="String">
                <value />
            </setting>
            <setting name="GuiTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HsPath" serializeAs="String">
                <value>asdasdasd</value>
            </setting>
            <setting name="RlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RlParams" serializeAs="String">
                <value />
            </setting>
            <setting name="RlMediaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RlAuthor" serializeAs="String">
                <value />
            </setting>
            <setting name="HyperSpinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RocketLauncherPath" serializeAs="String">
                <value />
            </setting>
        </Hs.Hypermint.Services.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
